@model VoteEvent

@{
    ViewData["Title"] = "View Vote Event";
}

<div class="container bg-white p-4">

    <div class="row mb-2">
        <div class="col-6">
            <h2 class="mb-3"><strong>VOTE EVENT</strong></h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Admin" asp-action="CreateEvent" class="btn btn-dark">
                Create New Event
            </a>
        </div>
        <hr />

    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover" id="candidatePositionTable">
            <thead>
                <tr>
                    <th>Vote Event ID</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    <tr>
                        <td class="align-middle">@Model.VoteEventId</td>
                        <td class="align-middle">@Model.StartDateTime</td>
                        <td class="align-middle">@Model.EndDateTime</td>
                        <td class="align-middle" align="center">
                            <a class="btn btn-sm btn-primary" asp-controller="Admin" asp-action="UpdateEvent" asp-route-id="@Model.VoteEventId">
                                Update
                            </a>
                            <a class="btn btn-sm btn-danger" asp-controller="Admin" asp-action="DeleteEvent" asp-route-id="@Model.VoteEventId">
                                Delete
                            </a>

                        </td>
                    </tr>
                }
                
            </tbody>
        </table>
    </div>
</div>



@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script>
        $(document).ready(function () {
            $('#candidatePositionTable').DataTable();
        });
    </script>
}
